* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f4e9d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002, #0004);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
  background-color: #fff;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  color: #555;
}

h1 {
  color: #000;
  font-size: 55px;
  margin: 80px 0;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
}
