@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.re_footer {
  background-color: black;
}

.re_footer_heading {
  color: #e9c462;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Anton;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  letter-spacing: 0.38px;
}

.re_footer_l {
  color: white;
  font-family: poppins;
}

.re_footer_social {
  color: white;
}
