@import url("https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100;200;300;400;500;600;700&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.contact_heading {
  font-family: "Anton", sans-serif !important;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.015em;
  text-align: center;
}

.contact_subheading {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-align: center;
}

.address,
.email,
.number {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: left;
}

/* .conatact_map{
    border-radius: 20px;
    overflow: hidden;
} */