.hero_video {
  width: 1301px;
  height: 731px;
  /* width: 640px;
  height: 360px; */
  top: 804px;
  left: 69px;
  border-radius: 46px;
  /* border: 4px solid #e9c462; */
  box-shadow: 5px 5px 0px 0px  #e9c462;
  margin: 5rem auto;
  /* background-color: black; */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 46px;
}
