/* FaqAccordion.css */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100;200;300;400;500;600;700&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: #fafafa;
}

.accordion {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  width: 75vw;
  margin: 50px auto;
  padding: 0 50px;
  
}

.accordion h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.015em;
  text-align: center;
  font-family: "Anton", sans-serif !important;
}

.accordion-item {
  margin-top: 16px;
  border-radius: 36px;
  background: #000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  
}

.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1.4px;
  color: #fff;
  transition: all ease-in-out 200ms;
  
}

.accordion-item .accordion-item-desc {
  display: none;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #d9d6d6;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  transition: all ease-in-out 200ms;
  
}

.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  
}

.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
  
}

.accordion-item input[type="checkbox"]:checked ~ .accordion-item-title .faq-icon:after {
  content: "-";
  font-size: 24px;
  transition: all ease-in-out 200ms;
}

.accordion-item input[type="checkbox"] ~ .accordion-item-title .faq-icon:after {
  content: "+";
  font-size: 24px;
  transition: all ease-in-out 200ms;
}

.accordion-item:first-child {
  margin-top: 0;
  
}

.accordion-item .faq-icon {
  margin-left: 14px;
  
}

@media screen and (max-width: 767px) {
  .accordion {
    padding: 0 16px;
  }

  .accordion h1 {
    font-size: 22px;
  }
}
