@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* .Re_hero_bg {
    background-color: #f6eddf;
    min-height: 100vh;
    flex-wrap: wrap;
  }
  
  .Re_hero_heading_1_div {
    padding: 6rem 0 4rem 4rem;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .Re_hero_heading_1 {
    text-shadow: 1.3px 1.3px #e9c462 !important;
    font-family: "Anton", sans-serif !important;
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.105em;
    text-align: center;
    
  }
  
  .Re_hero_heading_2 {
    font-family: "Anton", sans-serif !important;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.065em;
    text-align: center;
    text-shadow: 2.5px 2.5px #e9c462 !important;
  }
  
  .Re_hero_heading_3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.065em;
    text-align: center;
  }
  
  .Re_hero_btn {
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  
  .Re_hero_btn_1,
  .Re_hero_btn_2 {
    width: 100px;
    height: 35px;
    top: 632px;
    left: 66px;
    border-radius: 7.5px;
    font-family: "Anton", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.025em;
    text-align: center;
    transition: 600ms ease;
  }
  
  .Re_hero_btn_1 {
    color: white;
    background: #f76932;
    box-shadow: 5px 5px 0px 0px #e9c462;
    border: 4px solid #f76932;
  }
  
  .Re_hero_btn_1:hover {
    color: #f76932;
    background: transparent;
    box-shadow: none;
    border: 4px solid #f76932;
  }
  
  .Re_hero_btn_2 {
    color: #f76932;
    border: 4px solid #f76932;
  }
  
  .Re_hero_btn_2:hover {
    color: white;
    background: #f76932;
    box-shadow: 5px 5px 0px 0px #e9c462;
  }
  
  .Re_hero_thunder_img {
    height: 409px;
    width: 409px;
  }
  
  .Re_gapping {
    gap: 5rem;
    flex-wrap: wrap;
  }
   */


   .Re_hero_bg {
    background-color: #f6eddf;
    /* min-height: 100vh; */
    /* height: full; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  
  .Re_hero_heading_1_div {
    /* padding: 2rem; */
    text-align: center;
    /* gap: 2rem; */
  }
  
  .Re_hero_heading_1 {
    font-size: 2rem;
    text-shadow: 1.1px 1.1px #e9c462 !important;
    font-family: "Anton", sans-serif !important;
    letter-spacing: 0.105rem;
    text-align: center;
    font-weight: 400;
    /* line-height: 2rem */
  }
  
  .Re_hero_heading_2 {
    font-size: 3.7rem;
    font-family: "Anton", sans-serif !important;
    font-weight: 400;
    line-height: 3.7rem;
    /* letter-spacing: 0.065rem; */
    text-shadow: 2.1px 2.1px #e9c462 !important;

  }
  
  .Re_hero_heading_3 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.4rem;
    letter-spacing: 0.065em;
    text-align: center;
    margin-top: 1.3rem;
  }
  
  .Re_hero_btn {
    /* flex-direction: column; */
    align-items: center;
    gap: 1.3rem;
    margin-top: 1.3rem;
    justify-content: center;
  }
  
  .Re_hero_btn_1,
  .Re_hero_btn_2 {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    border-radius: 7.5px;
    font-family: "Anton", sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-align: center;
    transition: 600ms ease;
  }

  .Re_hero_btn_1 {
    color: white;
    background: #f76932;
    box-shadow: 5px 5px 0px 0px #e9c462;
    border: 4px solid #f76932;
  }
  
  .Re_hero_btn_1:hover {
    color: #f76932;
    background: transparent;
    box-shadow: none;
    border: 4px solid #f76932;
  }


  .Re_hero_btn_2 {
    color: #f76932;
    border: 4px solid #f76932;
  }

  .Re_hero_btn_2:hover {
    color: white;
    background: #f76932;
    box-shadow: 5px 5px 0px 0px #e9c462;
  }
  
  
  .Re_hero_thunder_img {
    max-width: 100%; 
    height: auto;
    
  }
  
  .Re_gapping {
    flex-direction: column-reverse;
    
  }
  
  /* Media Queries for Mobile Responsiveness */
  
  /* @media only screen and (max-width: 768px) {
    .Re_hero_heading_1 {
      font-size: 1.7rem;
     
      font-weight: 400;
      letter-spacing: 0.105rem;
      
      
    }
  
    .Re_hero_heading_2 {
      font-size: 3.3rem;
    }
  
    .Re_hero_heading_3 {
      font-size: 0.95rem;
      margin-top: 1.3rem;
    }
  
    .Re_hero_btn_1,
    .Re_hero_btn_2 {
      width: 100px;
      height: 43px;
      font-size: 0.95rem;
    }
  } */